/** ----------------------
	Extension Listing
	----------------------*/
.extListing .extension {
	border-bottom:1px solid #CCC;
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
	display:inline-block;
}

.extListing .extension > div {
	float:left;
	clear:none;
}

.extListing .extension .main {
	margin-left:50px;
	margin-right:10px;
	width:400px;
}

.extListing .extension .right {
	width:180px;
	padding-left:10px;
	border-left:1px dashed #CCC;
}


.extListing .extension h5 {
	border-bottom:none;
	margin-bottom:10px;
	padding-left:0;
}

.extListing .extension h5 div {
	width:100%;
}

.extListing .extension h5 .author {
	margin-left:10px;
}

.extListing .extension h5 .title {
	font-size:20px;
}

.extListing .extension h5 img {
	position:absolute;
	left:0;
	top:5px;
}

.extListing .extension .right div {
	padding:5px;
	border-bottom:1px dashed #CCC;
}

.extListing .extension .bottom {
	width:100%;
	clear:both;
	margin-top:5px;
}

.extListing .extension .bottom div {
	float:right;
	width:120px;
}




/** ----------------------
	Warnings
	----------------------*/

.extListing .extension .warning {
	margin-top:10px;
	padding:5px;
	border:2px dashed #F00;
	background-color:#F0F0F0;
}

.extListing .extension .warning ul {
	list-style-type:square;
	list-style-position:inside;
}

.extListing .extension .warning ul li {
	color:#F00;
	cursor:pointer;
}






/** ----------------------
	Search
	----------------------*/
.extensionSearch .control {
	margin-bottom:10px;
}

.extensionSearch .results {

}

.extensionSearch .resultinfo {
	padding:10px;
	background-color:#EFEFEF;
	margin-bottom:10px;
}




/** ----------------------
	Updates
	----------------------*/

/* Core update */
.repositoryUpdates .coreUpdate {
	padding:10px;
	margin-bottom:20px;
	background-color: #ffcc00;
	border:1px solid #CCC;
}

.repositoryUpdates .coreUpdate .coreUpdateInfos {
	float:left;
}

.repositoryUpdates .coreUpdate .coreUpdateInfos td,
.repositoryUpdates .coreUpdate .coreUpdateInfos th {
	padding:3px;
}
.repositoryUpdates .coreUpdate .coreUpdateInfos th {
	width:100px;
}

.repositoryUpdates .coreUpdate .installButton {
	float:right;
}

.repositoryUpdates .coreUpdate .installButton input {
	font-size:16px;
	font-weight:bold;
	padding:10px;
	margin-right:50px;
	margin-top:10px;
}



/** ----------------------
	Info Dialog
	----------------------*/
.repositoryDialog {
	padding:10px;
}

.repositoryDialog h1 {
	font-size:18px;
	font-weight:bold;
}

.repositoryDialog .buttons {
	margin-top:20px;
	padding-top:10px;
	border-top:1px dashed #000;
}


/** --------------------------------
	Info Dialog Extension Update
	--------------------------------*/
.repositoryDialog.extensionUpdate .extUpdateInfos td,
.repositoryDialog.extensionUpdate .extUpdateInfos th {
	padding:3px;
	border-bottom:1px dashed #CCC;
}

.repositoryDialog.extensionUpdate .extUpdateInfos th {
	width:100px;
}

.repositoryDialog.extensionUpdate .extUpdateInfos td {
	text-align:left;
}









/* Extension updates */
/*
.repositoryUpdates .extensionUpdates .extension {
	float:left;
	clear:both;
	width:640px;
	padding:10px;
	border:1px solid #CCC;
	margin-bottom:10px;
}

.repositoryUpdates .extensionUpdates .extension div {
	float:left;
	clear:none;
}

.repositoryUpdates .extensionUpdates .extension .image {
	width:120px;
	margin-right:20px;
	background-color:#AAA;
}

.repositoryUpdates .extensionUpdates .extension .info {
	width:300px;
}

.repositoryUpdates .extensionUpdates .extension .dependencies {
	width:180px;
	margin-left:20px;
}

.repositoryUpdates .extensionUpdates .extension .actions {
	clear:both;
	float:right;
}*/