/** ----------------------
	Extension Listing
	----------------------*/
.extListing .extension {
	border-bottom:1px solid #CCC;
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
	display:inline-block;
}

.extListing .extension > div {
	float:left;
	clear:none;
}

.extListing .extension .main {
	margin-left:50px;
	margin-right:10px;
	width:400px;
}

.extListing .extension .right {
	width:180px;
	padding-left:10px;
	border-left:1px dashed #CCC;
}


.extListing .extension h5 {
	border-bottom:none;
	margin-bottom:10px;
	padding-left:0;
}

.extListing .extension h5 div {
	width:100%;
}

.extListing .extension h5 .author {
	margin-left:10px;
}

.extListing .extension h5 .title {
	font-size:20px;
}

.extListing .extension h5 img {
	position:absolute;
	left:0;
	top:5px;
}

.extListing .extension .right div {
	padding:5px;
	border-bottom:1px dashed #CCC;
}

.extListing .extension .bottom {
	width:100%;
	clear:both;
	margin-top:5px;
}

.extListing .extension .bottom button {
	float:right;
	margin:0 10px;
}

.coreUpdate .installButtons button .icon,
.extListing .extension .bottom button .icon {
	background-image:url(../img/icons.png);
}

.coreUpdate .installButtons button.info .icon,
.extListing .extension .bottom button.info .icon {
	background-position:0 -748px;
}

.coreUpdate .installButtons button.update .icon,
.extListing .extension .bottom button.update .icon {
	background-position:0 -28px;
}

.extListing .extension .bottom button.install .icon {
	background-position:0 -28px;
}





/** ----------------------
	Warnings
	----------------------*/

.extListing .extension .warning {
	margin-top:10px;
	padding:5px;
	border:2px dashed #F00;
	background-color:#F0F0F0;
}

.extListing .extension .warning ul {
	list-style-type:square;
	list-style-position:inside;
}

.extListing .extension .warning ul li {
	color:#F00;
	cursor:pointer;
}






/** ----------------------
	Search
	----------------------*/
.extensionSearch .control {
	margin-bottom:10px;
}

.extensionSearch .results {

}

.extensionSearch .resultinfo {
	padding:10px;
	background-color:#EFEFEF;
	margin-bottom:10px;
}




/** ----------------------
	Updates
	----------------------*/

/* Core update */
.repositoryUpdates .coreUpdate {
	padding:10px;
	margin-bottom:20px;
	background-color:#ffcc00;
	border:1px solid #ccc;
}

.repositoryUpdates .coreUpdate .coreUpdateInfos {
	float:left;
}

.repositoryUpdates .coreUpdate .coreUpdateInfos td,
.repositoryUpdates .coreUpdate .coreUpdateInfos th {
	padding:3px;
}
.repositoryUpdates .coreUpdate .coreUpdateInfos th {
	width:100px;
}

.repositoryUpdates .coreUpdate .installButtons {
	float:right;
}



/** ----------------------
	Dialog
	----------------------*/
.repositoryDialog {
	padding:10px;
}

.repositoryDialog h1 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}

.repositoryDialog .buttons {
	margin-top:20px;
	padding-top:10px;
	border-top:1px dashed #000;
	clear:both;
}


/** --------------------------------
	Extension Dialog
	--------------------------------*/
.repositoryDialog.extensionDialog .col {
	float:left;
	clear:none;
}

.repositoryDialog.extensionDialog .versionInformation {
	background-color:#FFF;
	padding:10px;
	text-align:left;
	width:240px;
}

.repositoryDialog.extensionDialog .versionInformation .subtitle {
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}

.repositoryDialog.extensionDialog .versionDetails {
	width:200px;
	margin-left:20px;
}


.repositoryDialog.extensionDialog .versionDetails td,
.repositoryDialog.extensionDialog .versionDetails th {
	padding:3px;
	border-bottom:1px dashed #ccc;
	text-align:left;
}

.repositoryDialog.extensionDialog .versionDetails th,
.repositoryDialog.extensionDialog .versionDetails td {
	text-align:left;
}

.repositoryDialog.extensionDialog .versionDetails th {
	width:100px;
}

.repositoryDialog.extensionDialog .versionDetails td {
	width:70px;
}

.repositoryDialog.extensionDialog .warning {
	margin-top:10px;
	border:1px solid #000;
	padding:5px;
	background-color:#FFCC00;
}


/** --------------------------------
	Extension Update Dialog
	--------------------------------*/
.repositoryDialog.extensionDialog.extUpdate button.install .icon {
	background:url(../img/icons.png) no-repeat 0 -28px;
}



/** --------------------------------
	Extension Installation Dialog
	--------------------------------*/
