/* -----------------------
	Extension Listing
   -----------------------*/
.extListing .extension {
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
	display:inline-block;
}

.extListing .extension > div {
	float:left;
	clear:none;
}

.extListing .extension .main {
	margin-left:30px;
	margin-right:10px;
	width:420px;
}

.extListing .extension .right {
	width:180px;
	padding-left:10px;
	border-left:1px dashed #ccc;
}

.extListing .extension h5 {
	border-bottom:none;
	margin-bottom:10px;
	padding-left:0;
}

.extListing .extension h5 div {
	width:100%;
}

.extListing .extension h5 .author {
	margin-left:10px;
}

.extListing .extension h5 .title {
	font-size:20px;
}

.extListing .extension h5 img {
	position:absolute;
	left:0;
	top:8px;
}

.extListing .extension .right div {
	padding:5px;
	border-bottom:1px dashed #ccc;
}

.extListing .extension .bottom {
	width:100%;
	clear:both;
	margin-top:5px;
}

.extListing .extension .bottom button {
	float:right;
	margin:0 10px;
}

.coreUpdate .installButtons button .icon,
.extListing .extension .bottom button .icon {
	background-image:url(../img/icons.png);
}

.coreUpdate .installButtons button.info .icon,
.extListing .extension .bottom button.info .icon {
	background-position:0 -748px;
}

.coreUpdate .installButtons button.update .icon,
.extListing .extension .bottom button.update .icon {
	background-position:0 -28px;
}

.extListing .extension .bottom button.install .icon {
	background-position:0 -28px;
}



/* -----------------------
	Warnings
   -----------------------*/
.extListing .extension .warning {
	margin-top:10px;
	padding:5px;
	border:2px dashed #f00;
	background-color:#f0f0f0;
}

.extListing .extension .warning ul {
	list-style-type:square;
	list-style-position:inside;
}

.extListing .extension .warning ul li {
	color:#f00;
	cursor:pointer;
}



/* -----------------------
	Search
   -----------------------*/
.extensionSearch .control {
	margin-bottom:10px;
}

.extensionSearch .resultinfo {
	padding:10px;
	background-color:#efefef;
	margin-bottom:10px;
}



/* ----------------------
	Connection error
   -----------------------*/
.extensionSearch .resultinfo.error .title {
	font-weight: bold;
	font-size: 16px;
	color:red;
	margin-bottom: 5px;
}

.extensionSearch .resultinfo.error .message {
	font-family: monospace;
	font-size: 14px;
	margin-bottom: 5px;
}



/* -----------------------
	Updates
   -----------------------*/

/* Core update */
.repositoryUpdates .coreUpdate {
	padding:12px 12px 24px 12px;
	margin:6px 0 20px 0;
	background-color:#ffffdb;
}

.repositoryUpdates .coreUpdate .coreUpdateInfos {
	float:left;
}

.repositoryUpdates .coreUpdate .coreUpdateInfos td,
.repositoryUpdates .coreUpdate .coreUpdateInfos th {
	padding:3px;
}
.repositoryUpdates .coreUpdate .coreUpdateInfos th {
	width:100px;
}

.repositoryUpdates .coreUpdate .installButtons {
	float:right;
}



/* -----------------------
	Dialog
   -----------------------*/
.repositoryDialog {
	padding:10px;
}

.repositoryDialog h1 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}

.repositoryDialog .buttons {
	margin-top:20px;
	padding-top:10px;
	border-top:1px dashed #000;
	clear:both;
}
.repositoryDialog .info {
	margin-top:5px;
	border:1px solid #ccc;
	padding:5px;
	text-align:center;
}

.repositoryDialog .versionDetails {
	width:240px;
	margin-left:20px;
}

.repositoryDialog .versionDetails table td,
.repositoryDialog .versionDetails table th {
	padding:3px;
	border-bottom:1px dashed #ccc;
	text-align:left;
}

.repositoryDialog .versionDetails th {
	width:80px;
}

.repositoryDialog .versionDetails td {
	width:130px;
}

.repositoryDialog .col {
	float:left;
	clear:none;
}

.repositoryDialog .versionInformation {
	background-color:#fff;
	padding:10px;
	text-align:left;
	width:300px;
}

.repositoryDialog .versionInformation ul {
	list-style:square inside;
}

.repositoryDialog .versionInformation .subtitle {
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}


/* ---------------------------------
	Extension Dialog
   ---------------------------------*/
.repositoryDialog.extensionDialog .warning {
	background-color:#ffcc00;
}

.repositoryDialog.extensionDialog button.install .icon {
	background:url(../img/icons.png) no-repeat 0 -28px;
}



/* ---------------------------------
	Extension Installation Dialog
   ---------------------------------*/
.repositoryDialog.extensionDialog.extInstall .license {
	background-color:#fff;
	height:200px;
	overflow:auto;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
	font-family:monospace;
	border:1px solid #ccc;
	font-size:12px;
}

.repositoryDialog.extensionDialog.extInstall .acceptlicense {
	background-color:#fff;
}

.repositoryDialog.extensionDialog.extInstall .acceptlicense input {
	width:20px;
}

.repositoryDialog.extensionDialog.extInstall .licenseinfo {
	background-color:#ff0;
}

.repositoryDialog.extensionDialog.extInstall .warningMajorUpdate {
	background-color:#f00;
	color:#fff;
}



/* --------------------------------
	Core Update Dialog
   ---------------------------------*/
.repositoryDialog.coreDialog button.install .icon {
	background:url(../img/icons.png) no-repeat 0 -28px;
}