/** ----------------------
	Search extensions
	----------------------*/
.extensionSearch .control {
	margin-bottom:10px;
}

.extensionSearch .results {

}

.extensionSearch .resultinfo {
	padding:10px;
	background-color:#EFEFEF;
	margin-bottom:10px;
}


.extListing .extension {
	border-bottom:1px solid #CCC;
	margin-bottom:10px;
	padding-bottom:10px;
	position:relative;
	display:inline-block;
}

.extListing .extension > div {
	float:left;
	clear:none;
}

.extListing .extension .main {
	margin-left:50px;
	margin-right:10px;
	width:400px;
}

.extListing .extension .right {
	width:180px;
	padding-left:10px;
	border-left:1px dashed #CCC;
}


.extListing .extension h5 {
	border-bottom:none;
	margin-bottom:10px;
	padding-left:0;
}

.extListing .extension h5 div {
	width:100%;
}

.extListing .extension h5 .author {
	margin-left:10px;
}

.extListing .extension h5 .title {
	font-size:20px;
}

.extListing .extension h5 img {
	position:absolute;
	left:0;
	top:5px;
}

.extListing .extension .right div {
	padding:5px;
	border-bottom:1px dashed #CCC;
}

.extListing .extension .bottom {
	width:100%;
	clear:both;
	margin-top:5px;
}

.extListing .extension .bottom div {
	float:right;
	width:120px;
}



/** ----------------------
	Search updates
	----------------------*/

/* Core update */
.updaterUpdates .coreUpdate {
	padding:10px;
	margin-bottom:20px;
	background-color: #ffcc00;
	border:1px solid #CCC;
}

.updaterUpdates .coreUpdate .coreUpdateInfos {
	float:left;
}

.updaterUpdates .coreUpdate .coreUpdateInfos td,
.updaterUpdates .coreUpdate .coreUpdateInfos th {
	padding:3px;
}
.updaterUpdates .coreUpdate .coreUpdateInfos th {
	width:100px;
}

.updaterUpdates .coreUpdate .installButton {
	float:right;
}

.updaterUpdates .coreUpdate .installButton input {
	font-size:16px;
	font-weight:bold;
	padding:10px;
	margin-right:50px;
	margin-top:10px;
}

/* Extension updates */
/*
.updaterUpdates .extensionUpdates .extension {
	float:left;
	clear:both;
	width:640px;
	padding:10px;
	border:1px solid #CCC;
	margin-bottom:10px;
}

.updaterUpdates .extensionUpdates .extension div {
	float:left;
	clear:none;
}

.updaterUpdates .extensionUpdates .extension .image {
	width:120px;
	margin-right:20px;
	background-color:#AAA;
}

.updaterUpdates .extensionUpdates .extension .info {
	width:300px;
}

.updaterUpdates .extensionUpdates .extension .dependencies {
	width:180px;
	margin-left:20px;
}

.updaterUpdates .extensionUpdates .extension .actions {
	clear:both;
	float:right;
}*/