h1.extIconSysmanager .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

/* Extension : Config */

#panelwidget-adminmodules li.rights a {
	background:url(../img/icons.png) no-repeat 0 -569px;
}

#content .noExtConf {
	padding:20px;
	display:block;
	clear:both; 
	font-weight:bold;
	font-size:16px;
}

table.extInfo {
	line-height:20px;
	width:660px;
	border:0;
	margin:0 0 12px 0; 
}

	table.extInfo th.label {
		width:150px; 
	}
	
	table.extInfo th.value {
		width:538px;
	}



/* -----------------------------------
	Create mode options in headlet
   ----------------------------------- */

.createmode-role {
	background: url(../img/icons.png) no-repeat 11px -208px;
}



/* ------------------------------------
	Quick create wizard popup styling
   ------------------------------------ */

#quickcreate.dialog.role div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -209px;
}
	