















#admin-tabs li.tabkey-extensions span.icon {
	background: url('/../img/icons.png') no-repeat 0 0;
}

#admin-tabs li.tabkey-rights span.icon {
	background: url('../img/icons.png') no-repeat 0 -30px;
}


/* Rightseditor */
#extselector {
	width:400px;
	float:left;
	clear:none;
}
#extensions {
	width:300px;
}

#groupselector {
	float:left;
	clear:right;
	width:300px;
}

#grouprights {
	float:left;
	clear:both;
	width:100%;
	border:1px dotted #AAA;
	margin-top:20px;
}


/* Section fieldsets */
#grouprights .right .label {
	width:200px;
	font-weight:bold;
	text-align:left;;
}

#grouprights .right td {
	width:20px;
	text-align:center;
	padding:6px 5px;
}

#grouprights .right input {
	cursor:pointer;
}

#grouprights fieldset {
	border:1px solid #AAA;
	padding:10px;
	margin-bottom:10px;
}

#grouprights fieldset legend {
	display:inline;
	font-weight:bold;
	font-size:14px;
	padding:0px 5px;
}

#rights {
	height:400px;
	overflow:scroll;
}


/* Groupmatrix */
.groupmatrix {
	border:none;
	margin-left:11px;
}

.groupmatrix .name {
	width:200px;
	font-weight:bold;
	text-align:left;
}

.groupmatrix td {
	padding:2px 5px;
	width:20px;
	text-align:center;
}

.g1 {
	background-color:#ff8080;
}

.g2 {
	background-color:#80ffff;
}

.g3 {
	background-color:#ff8040;
}

.g4 {
	background-color:#8080ff;
}

.g5 {
	background-color:#00ff00;
}

.g6 {
	background-color:#ffff80;
}

.g7 {
	background-color:#804040;
}

.g8 {
	background-color:#3cd5dd;
}

tr.odd {
	background-color:#F4F4F4;
}
