/* -------------------
	Admin modules
   ------------------- */
#panelwidget-adminmodules li.extensions a {
	background:url(../img/icons.png) no-repeat 1px 1px;
}
#panelwidget-adminmodules li.records a {
	background:url(../img/icons.png) no-repeat 1px -360px;
}
#panelwidget-adminmodules li.rights a {
	background:url(../img/icons.png) no-repeat 1px -240px;
}



/* -------------------
	Tabs
   ------------------- */
#extension-tabs li span.icon {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
#extension-tabs li.list span.icon {
	background-position:0 5px;
}
#extension-tabs li.info span.icon {
	background-position:0 -85px;
}
#extension-tabs li.config span.icon {
	background-position:0 -115px;
}
#extension-tabs li.records span.icon {
	background-position:0 -325px;
}
#extension-tabs li.install span.icon {
	background-position:0 -25px;
}



/* -------------------
	Extension list
   ------------------- */

.extlist {
	margin-top:6px;
}

	/* list columns */
.extlist th.icon {
	width:20px;
}
.extlist th.extkey {
	width:90px;
}
.extlist th.title {
	width:255px;
}
.extlist th.edit {
	width:120px;
}
.extlist th.version {
	width:40px;
}
.extlist th.download {
	width:20px;
}
.extlist th.doc {
	width:20px;
}
.extlist th.status {
	width:50px;
}

	/* list icons */
.extlist td.edit a {
	width:18px;
	height:18px;
	display:inline-block;
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
.extlist td.edit a.disabled {
	opacity:0.5;
	cursor:default !important;
}

.extlist td.edit a.uninstall {
	background-position:0 -60px;
}
.extlist td.edit a.install {
	background-position:0 -30px;
}

.extlist td.edit a.info {
	background-position:0 -90px;
}
.extlist td.edit a.config {
	background-position:0 -120px;
}
.extlist td.edit a.records {
	background-position:0 -330px;
}
.extlist td.edit a.rights {
	background-position:0 -150px;
}


.extlist td.doc a {
	background:url(../img/icons.png) no-repeat 0 -510px;
}

.extlist td.download a.download {
	background:url(../img/icons.png) no-repeat 0 -480px;
}


/* Update and install tab */
#content-tabs #extension-tab-install,
#content-tabs #extension-tab-update {
	float:right;
}
