table.recordsoverview {
	width:650px;
	border:0; 
}

		/* Column widths */
	.recordsoverview th.icon {
		width:15px;
	}
	
	.recordsoverview th.extension {
		width:250px;
	}
	
	.recordsoverview th.recordtype {
		width:200px;
	}
	
	.recordsoverview th.records {
		width:100px;
	}
	
	.recordsoverview th.actions {
		width:50px;
	}
	
		/* Column configs */
	.recordsoverview td.icon {
		background:url(../img/icons.png) no-repeat 6px -534px;	
	}
	
	.recordsoverview td.actions div.icon {
		cursor:pointer;
		margin-right:5px;
	}
	
	.recordsoverview td.actions div.edit {
		background:url(../img/icons.png) no-repeat 0 -180px;
	}