#panelwidget-adminmodules li.rights a {
	background:url(../img/icons.png) no-repeat 1px -240px;
}


/* -------------------
	Tabs
   ------------------- */
#rights-tabs li span.icon {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
#rights-tabs li.rights span.icon {
	background-position:0 -295px;
}
#rights-tabs li.roles span.icon {
	background-position:0 -205px;
}


/* -------------
	Rights Matrix 
   -------------*/
#rightsmatrix {
	margin:10px 0;
}

#rightsmatrix td {
	vertical-align:middle;
}

	/* Roles */
#rightsmatrix .roles {
	margin-left:1px;
}

#rightsmatrix .roles .name {
	width:250px;
	font-weight:bold;
	text-align:left;
}

#rightsmatrix .roles td {
	padding:2px 5px;
	width:20px;
	text-align:center;
}

	/* Rights */
#rightsmatix-form {
	max-height:500px;
	padding-top:10px;
	border-top:2px #bbb solid;
	border-bottom:2px #bbb solid;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:scroll;
}

#rightsmatix-form fieldset {
	width:610px;
	border:1px solid #AAA;
	padding:10px;
	padding-top:0;
	margin-bottom:10px;
}

#rightsmatix-form fieldset legend {
	display:inline;
	font-weight:bold;
	font-size:13px;
	padding:0 5px;
}

#rightsmatix-form td.label {
	width:250px;
	/*font-weight:bold;*/
	text-align:left;
	border-bottom:1px dashed #DDD;
}

#rightsmatix-form td.label a {
	display:inline-block;
	width:90%;
}

#rightsmatix-form td.roleRight {
	width:20px;
	text-align:center;
	padding:6px 5px;
}

#rightsmatix-form td.roleRight input {
	cursor:pointer;
}

#rightsmatix-form span.require {
	display:inline-block;
	width:15px;
	height:14px;
	background:url(../img/icons.png) no-repeat 1px -175px;
	cursor:help;
}



/* -------------
	Rights 
   -------------*/

#rightsmatrix td.roleColor1 {
	background-color:#ccddbb;
}

#rightsmatrix td.roleColor2 {
	background-color:#ffffbb;
}

#rightsmatrix td.roleColor3 {
	background-color:#aaccbb;
}

#rightsmatrix td.roleColor4 {
	background-color:#ccffdd;
}

#rightsmatrix td.roleColor5 {
	background-color:#eeeeee;
}

#rightsmatrix td.roleColor6 {
	background-color:#889988;
}

#rightsmatrix td.roleColor7 {
	background-color:#ddeecc;
}

#rightsmatrix td.roleColor8 {
	background-color:#bbbbbb;
}





/* -------------------------
	Role list
   -------------------------*/
.rolesListing th,
.rolesListing td {
	vertical-align:middle;
}

	/* Column widths */
.rolesListing th.icon {
	width:15px;
}
.rolesListing th.title {
	width:150px;
}
.rolesListing th.description {
	width:285px;
}
.rolesListing th.persons {
	width:100px;
}
.rolesListing th.actions {
	width:50px;
}

	/* Column configs */
.rolesListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -204px;
}
.rolesListing td.actions span.icon {
	margin-right:5px;
}
.rolesListing td.actions span {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
.rolesListing td.actions span.edit {
	background-position:0 -239px;
}
.rolesListing td.actions span.delete {
	background-position:0 -269px;
}