/* -------------------
	Tabs
   ------------------- */
#rights-tabs li span.icon {
	background-image:url(../img/icons.png);
	background-repeat:none;
}
#rights-tabs li.rights span.icon {
	background-position:0 -295px;
}
#rights-tabs li.roles span.icon {
	background-position:0 -205px;
}


/* -------------------------
	Role list
   -------------------------*/

	/* Column widths */
.rolesListing th.icon {
	width:15px;
}
.rolesListing th.title {
	width:150px;
}
.rolesListing th.description {
	width:285px;
}
.rolesListing th.persons {
	width:100px;
}
.rolesListing th.actions {
	width:50px;
}

	/* Column configs */
.rolesListing td.icon {
	background:url(../img/icons.png) no-repeat 6px -206px;
}
.rolesListing td.actions div.icon {
	margin-right:5px;
}
.rolesListing td.actions div {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}
.rolesListing td.actions div.edit {
	background-position:0 -240px;	
}
.rolesListing td.actions div.delete {
	background-position:0 -270px;	
}
