{$tabs}

{Title "LLL:sysmanager.installedExtensions"}

<table class="list extlist">
  {include file="extension-list-header.tmpl"}

{foreach $extensions extKey extInfo}
  <tr class="{cycle values="odd,even"}">
  	<td class="icon"><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.showTab('{$extKey}', 'info')">{extIcon $extKey}</a></td>
  	<td class="extkey">{$extKey}</td>
    <td class="title">{htmlencode Label(cat($extKey '.ext.title'))}</td>
    <td class="edit">

    	<a href="javascript:void(0)" title="{Label sysmanager.extension.uninstallExtension}"
	    	{if allowed('sysmanager','extensions:uninstall') && !extMgr_isSysExt($extKey)}
	    		onclick="Todoyu.Ext.sysmanager.Extensions.Install.uninstall('{$extKey}')" class="uninstall">
			{else}
				class="uninstall disabled">
			{/if}
			<span class="hidden">{Label core.uninstall}</span>
		</a>

		<a href="javascript:void(0)" title="{Label sysmanager.extension.showInfo}"
			{if extMgr_hasExtInfo($extKey) && allowed('sysmanager','extensions:info')}
				onclick="Todoyu.Ext.sysmanager.Extensions.showTab('{$extKey}', 'info')" class="info">
			{else}
				class="info disabled">
			{/if}
			<span class="hidden">info</span>
		</a>

		<a href="javascript:void(0)" title="config"
			{if extMgr_hasConfig($extKey) && allowed('sysmanager','extensions:config')}
				onclick="Todoyu.Ext.sysmanager.Extensions.showTab('{$extKey}', 'config')" class="config">
			{else}
				class="config disabled">
			{/if}
			<span class="hidden">config</span>
		</a>

		<a href="javascript:void(0)" title="{Label sysmanager.extension.rights}"
			{if extMgr_hasRighsConfig($extKey) && allowed('sysmanager','extensions:rights')}
				onclick="Todoyu.Ext.sysmanager.Extensions.showRights('{$extKey}')" class="rights">
			{else}
				class="rights disabled">
			{/if}
			<span class="hidden">rights</span>
		</a>

		<a href="javascript:void(0)" title="records"
			{if extMgr_hasRecords($extKey) && allowed('sysmanager','extensions:records')}
				onclick="Todoyu.Ext.sysmanager.Extensions.showRecords('{$extKey}')" class="records">
			{else}
				class="records disabled">
			{/if}
			<span class="hidden">records</span>
		</a>
    </td>
    <td class="version">{$extInfo.version}</td>
	<td class="download">
		{restrict 'sysmanager' 'extensions:download'}
		<a title="{Label sysmanager.extension.download}" class="icon download" href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.download('{$extKey}')">
			<span class="hidden">{Label file.download}</span>
		</a>
		{/restrict}
	</td>
	<td class="doc">
		<a title="{Label sysmanager.documentation}" class="icon doc" href="javascript:void(0)">
			<span class="hidden">{Label sysmanager:documentation}</span>
		</a>
	</td>
	<td class="state">{$extInfo.state}</td>
  </tr>
{/foreach}

</table>