

{include "core/view/copyright_notice.tmpl"}

	// ****************************************************************************
	// ATTENTION - TODOYU MANAGED FILE
	// THIS FILE IS AUTOMATICLY UPDATED BY TODOYU
	//
	// EVERYTHING EXCEPT THE 'installed' KEY WILL BE REMOVED ON NEXT CONFIG UPDATE
	// ****************************************************************************

	// Installed extensions
Todoyu::$CONFIG['EXT']['installed'] = array('{implode("','", $extensions)}');

