{Header title="sysmanager.extension.uninstallExtension.ok"}

<ul class="nextInstallSteps">
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.download('{$ext}')">Download extension</a></li>
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.remove('{$ext}')">Delete extension from server</a></li>
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.Install.install('{$ext}')">Install extension again</a></li>
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.showList()">Show list of installed extensions</a></li>
</ul>