{Header title="sysmanager.extension.installExtension.ok"}

<ul class="nextInstallSteps">
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.showTab('{$ext}', 'info')">Show Extensio Configuration</a></li>
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.download('{$ext}')">Download extension</a></li>
	<li><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.Install.uninstall('{$ext}')">Uninstall Extension</a></li>
</ul>