{$tabs}

{Title "LLL:sysmanager.notInstalledExtensions"}

<p>
	<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.showImportForm()">
		{Label sysmanager.extension.importExtArchive}
	</a>
</p>
<div style="display:none" id="extension-import-form">
	<form>
	<input type="file" name="archive">
	<p>sdfasdf</p>
	<p>sdfasdfasd</p>
	</form>
</div>

<table class="list extlist">
  {include file="extension-list-header.tmpl"}

{foreach $extensions extKey extInfo}
  <tr class="{cycle values="odd,even"}">
  	<td class="icon"><a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.showTab('{$extKey}', 'info')">{extIcon $extKey}</a></td>
  	<td class="extkey">{$extKey}</td>
    <td class="title">{htmlencode $extInfo.title}</td>
    <td class="edit">
    	<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.install('{$extKey}')" title="{Label sysmanager.extension.installExtension}" class="install">
    		<span class="hidden">install<span>
    	</a>

		<a href="javascript:void(0)" title="{Label sysmanager.extension.showInfo}"
			{if extMgr_hasExtInfo($extKey)}
				onclick="Todoyu.Ext.sysmanager.Extensions.showTab('{$extKey}', 'info')" class="info">
			{else}
				class="info disabled">
			{/if}
			<span class="hidden">info<span>
		</a>

    </td>
    <td class="version">{$extInfo.version}</td>
	<td class="download">
		<a title="{Label sysmanager.extension.download}" class="icon download" href="javascript:void(0)">
			<span class="hidden">{Label file.download}</span>
		</a>
	</td>
	<td class="doc">
		<a title="{Label sysmanager.documentation}" class="icon doc" href="javascript:void(0)">
			<span class="hidden">{Label sysmanager.documentation}</span>
		</a>
	</td>
	<td class="state">{$extInfo.state}</td>
  </tr>
{/foreach}

</table>