<td class="version">{$extInfo.version}</td>
<td class="state">{$extInfo.state}</td>
<td class="download">
	<a title="{Label sysmanager.extension.download}" class="icon download" href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.download('{$extKey}')">
		<span class="hidden">{Label core.global.file.download}</span>
	</a>
</td>
<td class="doc">
	<a title="{Label sysmanager.extension.documentation}" class="icon doc" href="{$baseUrlDocumentation}?{$extKey}" target="_blank">
		<span class="hidden">{Label sysmanager.extension.documentation}</span>
	</a>
</td>