{$tabs}

<table width="650" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <th width="180" scope="col">Extension</th>
    <th width="376" scope="col">Recordtype</th>
    <th width="40" scope="col">#</th>
    <th width="30" scope="col">&nbsp;</th>
  </tr>
  
	{foreach $extensions extKey records}
		{foreach $records recordKey record}
			<tr>
				<td>{Label cat($extKey '.title')}</td>
				<td>{Label $record.label}</td>
				<td>123</td>
				<td>edit</td>
			</tr>
		{/foreach}
	{/foreach}
	
</table>



