<table cellspacing="0" cellpadding="0" class="list typesAll recordsList">
	<tr class="header">
		<th scope="col" class="icon">&nbsp;</th>
		<th scope="col" class="recordtype">{Label sysmanager.recordType}</th>
		<th scope="col" class="extension">{Label sysmanager.extension}</th>
		<th scope="col" class="records">{Label core.records}</th>
		<th scope="col" class="last actions">&nbsp;</th>
	</tr>
{foreach $list extKey extension}
	{foreach $extension.records type record}
	<tr class="{cycle values="odd,even"}">
		<td class="icon"></td>
		<td class="recordtype">
			<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Records.showTypeRecords('{$extKey}', '{$type}')">{$record.title}</a>
		</td>
		<td class="extension">
			<span class="exticon extIcon{ucwords($extKey)}"></span>
			<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Records.showExtensionTypes('{$extKey}')">{$extension.title}</a>
		</td>
		<td class="records">{$record.count} {Label core.records}</td>
		<td class="actions">
			<div class="icon list" onclick="Todoyu.Ext.sysmanager.Records.showTypeRecords('{$extKey}', '{$type}')"></div>
		</td>
	</tr>
	{/foreach}
{/foreach}
</table>