{if $types}

	{Header sysmanager.records.title.recordTypes}
	<ul id="record-type-list" class="ulList withMouseHover">
	{foreach $types type}
			<li class="{cycle values='odd,even'}">
				<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Extensions.Records.showTypeRecords('{$extKey}', '{$type.type}')">
					{$type.label} ({$type.count})
				</a>
			</li>
	{/foreach}
	</ul>

{else}

	<div class="contentMessage">
		{Label sysmanager.records.noTypes}
	</div>

{/if}