<div id="list">
	<h1 class="headerLine">
		<span class="back" onclick="Todoyu.Ext.sysmanager.Extensions.Records.showTypeList('{$extKey}', '{$type}')">{Label LLL:sysmanager.backToTypeList}</span>
		<span class="createNew" onclick="Todoyu.Ext.sysmanager.Extensions.Records.add('{$extKey}', '{$type}')">{Label LLL:core.createNew} {Label $labels.typeLabel}</span>
		<span class="rgt"><!--right--></span>
	</h1>

	<ul id="record-list" class="ulList withMouseHover">
	{foreach $records key record}
		<li id="listElement-{$key}" class="{cycle values='odd,even'}">
			<span class="recordlabel">
				<a onclick="Todoyu.Ext.sysmanager.Extensions.Records.edit('{$extKey}', '{$type}', {$record.id})">
					{truncate Label($record.label true) 20}&nbsp;
				</a>
			</span>
			<span class="additionalInformations">{$record.additionalInformations}</span>
			<span class="delete" onclick="Todoyu.Ext.sysmanager.Extensions.Records.remove('{$extKey}', '{$type}', {$record.id})"></span>
			<span class="edit" onclick="Todoyu.Ext.sysmanager.Extensions.Records.edit('{$extKey}', '{$type}', {$record.id})"></span>
		</li>
	{/foreach}
	</ul>
</div>