<div class="repositoryDialog coreDialog">
	<h1>Core Update: {$update.title}</h1>

	<div class="col versionInformation">
		<span class="subtitle">Version Information</span>
		{if $update.description}
			{$update.description}
		{else}
			No Version Information
		{/if}
	</div>

	<div class="col versionDetails">
		<table>
			<tr>
				<th>Installed</th>
				<td>{constant(TODOYU_VERSION)}</td>
			</tr>
			<tr>
				<th>New Version</th>
				<td>{$update.version}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{ExtensionStatus $update.state}</td>
			</tr>
			<tr>
				<th>Release Date</th>
				<td>{dateFormat $update.date_update date}</td>
			</tr>
		</table>
	</div>

	<div class="buttons">
		{Button label="Install Core Update" class="install" onclick="Todoyu.Ext.sysmanager.Repository.Update.installCoreUpdate()"}
		{Button label="Cancel Core Update" class="cancel" onclick="Todoyu.Ext.sysmanager.Repository.closeDialog()"}
	</div>
</div>