<div class="repositoryDialog extensionDialog {$dialogClass}">
	<h1>{$title}</h1>

	<div class="col versionInformation">
		<span class="subtitle">Version Information</span>
		{if $info.version.version_information}
			{$info.version.version_information}
		{else}
			No Version Information
		{/if}
	</div>

	<div class="col versionDetails">

		<table>
			<tr>
				<th>Extension</th>
				<td>{$info.version.version}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{ExtensionStatus $info.version.state}</td>
			</tr>
			<tr>
				<th>Date Update</th>
				<td>{dateFormat $info.version.date_update date}</td>
			</tr>
		</table>

	</div>

	<div class="clear"></div>

	<div class="warning">New versions and extensions can contain new features which may cause problems. There may also be database changes. Make sure you have a regular backup of your files and your database.</div>

	<div class="buttons">
		{Button class="install" label="Install Extension Update" onclick="$okAction"}
		{Button class="cancel" label="Cancel Installation of Update" onclick="Todoyu.Ext.sysmanager.Repository.closeDialog()"}
	</div>
</div>