<div class="repositoryDialog extensionDialog {$dialogClass}">
	<h1>{$title}</h1>

	<div class="col versionInformation">
		<span class="subtitle">Version Information</span>
		{if $info.version.version_information}
			{$info.version.version_information}
		{else}
			No Version Information
		{/if}
	</div>

	<div class="col versionDetails">

		<table>
			<tr>
				<th>Title</th>
				<td>{$info.title}</td>
			</tr>
			<tr>
				<th>Ext-Key</th>
				<td>{$info.ext_key}</td>
			</tr>
			<tr>
				<th>Version</th>
				<td>{$info.version.version}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{ExtensionStatus $info.version.state}</td>
			</tr>
			<tr>
				<th>Date Update</th>
				<td>{dateFormat $info.version.date_update date}</td>
			</tr>
		</table>

	</div>

	<div class="clear"></div>

	{if $install && $info.commercial}
		{if $license}
			<div class="license">
				<pre width="90">{$license}</pre>
			</div>
			<div class="info acceptlicense">
				<input type="checkbox" value="1" name="acceptlicense" id="acceptlicense">
				<label for="acceptlicense">Accept License</label>
			</div>
		{/if}

		{if $info.free_licenses > 0}
			<div class="info licenseinfo usedomaincoupon">You have {$info.free_licenses} free licenses for this extension. Do you want do activate one for this domain ({$domain})</div>
		{else}
			<div class="info licenseinfo buyextension"><a href="{$info.ter_link}" target="_blank">Buy extension in todoyu extension repository</a></div>
		{/if}

		{if $isMajorUpdate}
			<div class="info warningMajorUpdate">This is a major version update of an existing extension. The existing extension will be completely overwritten with the new one.</div>
		{/if}

	{/if}

	<div class="info warning">New versions and extensions can contain new features which may cause problems. There may also be database changes. Make sure you have a regular backup of your files and your database.</div>

	<div class="buttons">
		{Button class="install" label=$labelOk onclick=$actionOk disabled=$disableOk}
		{Button class="cancel" label=$labelCancel onclick="Todoyu.Ext.sysmanager.Repository.closeDialog()"}
	</div>
</div>