<div class="resultinfo error">
	<div class="title">{Label sysmanager.ext.repository.connectionFailed}</div>
	<div class="message">{$message}</div>
	<div class="info">{Label sysmanager.ext.repository.connectionFailed.info}</div>
</div>