{Header "LLL:sysmanager.rightsHeader"}

<button href="javascript:void(0)" class="button" onclick="Todoyu.Ext.sysmanager.Rights.save()"><span>{Label sysmanager.save}</span><span class="rgt" /></button>
<form id="rightseditor-form" action="?ext=sysmanager&amp;controller=rightsmatrix" method="POST">
	<div id="groupselector">
		{$groupselector}
	</div>
	<input type="hidden" name="extension" value="{$extKey}" />
</form>
{$matrix}
<script type="text/javascript">
Todoyu.Ext.sysmanager.Rights.init();
</script>