{* ----------------- Group selector -----------------  *}
<table class="groups">
	{foreach $groups key group groups}
		<tr>
			<td class="name g{$.foreach.groups.iteration}">
				<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Rights.toggleGroup({$group.id})">{$group.title}</a>
			</td>
			{for gA 1 $.foreach.groups.total-$.foreach.groups.index-1}
				<td class="g{$.foreach.groups.iteration}">&nbsp;</td>
			{/for}
			{if $.foreach.groups.iteration > 1 }
				{for gA 1 $.foreach.groups.iteration-1}
				    <td class="g{$.foreach.groups.iteration-$gA}">&nbsp;</td>
				{/for}
			{/if}
		</tr>
	{/foreach}
</table>

{* ----------------- Rights matrix -----------------  *}
<div class="rights">
<form action="index.php?ext=sysmanager&amp;controller=rights" method="post" name="rightseditor-rightsform" id="rightseditor-rightsform">
	{foreach $rights sectionName section}
		<fieldset>
		<legend>{$section.label}</legend>
		<table class="sectionrights"><tbody>
		{foreach $section.rights right}
			<tr class="right" id="right-{$sectionName}-{$right.right}">
				<td class="label">
					<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Rights.toggleRight('{$sectionName}:{$right.right}')" title="{$right.comment} [{$sectionName}:{$right.right}]">{$right.label}</a>
					{if sizeof($right.require) > 0 }
						<span class="require" title="{Label sysmanager.rights.require}: {implode(', ', $right.require)}"></span>
					{/if}
				</td>
				{foreach reverse($groups) key group grouprights}
					<td class="g{$.foreach.grouprights.total-$.foreach.grouprights.index}">
						<input type="checkbox" id="{$sectionName}-{$right.right}-{$group.id}" name="rights[{$sectionName}:{$right.right}][{$group.id}]" value="1" {if $activeRights[$right.full][$group.id]}checked="checked"{/if} />
					</td>
				{/foreach}
			</tr>
		{/foreach}
		</tbody></table>
			</fieldset>
	{/foreach}
	<input type="hidden" name="extension" value="{$extension}" />
</form>
</div>
<script type="text/javascript">
Todoyu.Ext.sysmanager.Rights.initMatrix({json_encode($required)});
</script>