{Header "LLL:sysmanager.rights.header"}

<div class="groupSelector">
	<form id="rightseditor-form" action="?ext=sysmanager&amp;controller=rights">
		<select name="groups[]" size="8" id="rightseditor-groups" class="filter" multiple="multiple">
		{foreach $usergroups usergroup}
			<option value="{$usergroup.id}" selected="selected">{$usergroup.title}</option>
		{/foreach}
		</select>
		<input type="hidden" name="extension" value="{$extKey}" />
	</form>
</div>

<div class="saveButtonBox">
	{Button label="sysmanager.rights.save" class="save" onclick="Todoyu.Ext.sysmanager.Rights.save()"}
</div>

<div class="groupRights" id="grouprights">
	{$matrix}
</div>

<script type="text/javascript">
Todoyu.Ext.sysmanager.Rights.init();
</script>