{restrict 'sysmanager' 'role:edit'}
	<span title="{Label sysmanager.roles.edit}" class="icon edit" onclick="Todoyu.Ext.sysmanager.Role.edit({$id})"></span>
{/restrict}
{restrict 'sysmanager' 'role:delete'}
	<span title="{Label sysmanager.roles.delete}" class="icon delete" onclick="Todoyu.Ext.sysmanager.Role.remove({$id})"></span>
{/restrict}