<div class="updaterUpdates">


	{if $updates.core}
		{$coreUpdate = $updates.core}
		<div class="coreUpdate">
			{Title "New core update available"}
			<table class="coreUpdateInfos">
				<tr>
					<th>New version</th>
					<td>{$coreUpdate.new_version}</td>
				</tr>
				<tr>
					<th>Your version</th>
					<td>{$coreUpdate.installed_version}</td>
				</tr>
				<tr>
					<th>Release date</th>
					<td>{dateFormat $coreUpdate.date_update date}</td>
				</tr>
			</table>
			<div class="installButton">
				{Button label="sysmanager.ext.updater.core.installUpdate" class="installCoreUpdate" onclick="Todoyu.Ext.sysmanager.Updater.installCoreUpdate('$coreUpdate.archive')"}
			</div>
			<div class="clear"></div>
		</div>
	{/if}



	<div class="extensionUpdates">
		{Title "Extension updates"}

		{foreach $updates.extensions extUpdate}
			<div class="extension">
				<div class="image">
					IMAGE
				</div>
				<div class="info">
					<span class="title">{$extUpdate.name}</span>
					<dl>
						<dt>Your version</dt>
						<dd>{$extUpdate.installed_version}</dd>
						<dt>New version</dt>
						<dd>{$extUpdate.new_version}</dd>
						<dt>Release date</dt>
						<dd>{dateFormat $extUpdate.date_update date}</dd>
					</dl>
				</div>
				<div class="dependencies">
					{if $extUpdate.dependencies.extDependency}
						<ul>
						{foreach $extUpdate.dependencies.extDependency dependency}
							<li>{$dependency.extkey}: {$dependency.version}</li>
						{/foreach}
						</ul>
					{else}
						<p>No dependencies</p>
					{/if}
				</div>
				<div class="actions">
					{Button label="sysmanager.ext.updater.extension.moreDetails" class="moreDetails" onclick="Todoyu.Ext.sysmanager.Updater.showExtensionUpdateDetails('$extUpdate.link_details')"}
					{Button label="sysmanager.ext.updater.extension.installUpdate" class="installExtensionUpdate" onclick="Todoyu.Ext.sysmanager.Updater.installExtensionUpdate('$extUpdate.extkey', '$extUpdate.archive')"}
				</div>
			</div>

		{else}
			<p>No extension updates available</p>
		{/foreach}

	</div>

</div>