{Title title="LLL:sysmanager.ext.browse.title"}

<div id="updater-search-control">
	<form method="post">
		<input type="text" name="extQuery" id="extQuery" value="{$query}" />
	</form>
</div>

<div id="updater-search-results">
	{$results}
</div>

<script type="text/javascript">
	Todoyu.Ext.sysmanager.Updater.init();
</script>